
@{
    ViewBag.Title = "Home";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Nada
    </title>
</head>
<body style="background-color:lightslategrey">
        <div class="card mt-5">
            <div class="card-header bg-dark">
                <h4 class="badge-dark">Bienvenido a Promotec !</h4>
            </div>
            <div class="card-body">

                <div class="container">
                    <div class="row">
                        <div class="col-sm m-auto">
                            <i class="fa fa-list" aria-hidden="true"></i>
                            <a>Lista tus Eventos que hallas definido</a>
                            <a href="~/Listar" class="btn btn-dark">IR</a>
                        </div>
                        <div class="col-sm m-auto">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            <a>Crea tus eventos </a>
                            <a href="~/Registrar" class="btn btn-dark">IR</a>
                        </div>
                        <div class="col-sm m-auto">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <a>Modifica tu perfil </a>
                            <a href="#" class="btn btn-dark">IR</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-5">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h4 class="m-auto">Eventos Frecuentes</h4>

                        <div class="row">
                            <div class="col-sm">
                                <img class="mt-5 rounded float-xl-left" src="~/Content/descarga.jpg" />
                            </div>
                            <div class="col-sm">
                                <p class="mt-5 text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col text-center">
                        <h4 class="m-auto">Eventos pocos Frecuentes</h4>
                        <img class="mt-5 rounded" style="float: none; margin: auto ;" src="~/Content/descarga.jpg" />
                    </div>

                </div>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-body">
                <div class="row text-center">
                    <div class="col-sm">
                        <div class="card" style="float: none; margin: 0 auto ; width: 18rem;">
                            <img src="~/Content/descarga.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Eventos Importantes</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">IR</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="float: none; margin: 0 auto ; width: 18rem;">
                            <img src="~/Content/descarga.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Eventos Recientes</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">IR</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card" style="float: none; margin: 0 auto ; width: 18rem;">
                            <img src="~/Content/descarga.jpg" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title">Eventos Pasados</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">IR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="card mt-5">
            <div class="card-body">
                <h4 class="card-title"> Nosotros</h4>
                <p class="card-text">Promotec es una plataforma que conecta personas y a empresas que brinden bienes y servicios para eventos en Huancayo y en todo el país de manera sencilla, eficaz y gratuita. www.promotec.com es una herramienta online que le facilita a los organizadores/empresas crear, promocionar y gestionar sus bienes y o servicios. Con promotec podrán vender sus experiencias facilmente compartiéndolas a través de la pagina y redes sociales. 
promotec.com es la forma más fácil de crear una conexión entre las empresas y los clientes apoyándose en la tecnología para conectarlos de foma mas sensilla e intuitiva. Para los usuarios, es un enfoque completamente nuevo, estamos reinventando la manera de descubrir eventos en tu ciudad. Hay tantas cosas para hacer que quedarte siempre en casa sentado es una opción poco atractiva. No importa que estés buscando en www.promotec.com encontrarás todos los eventos para hacer en tu ciudad.
Estamos seguros que en tu cuidad hay gente que comparte tus mismos intereses y creemos que reunirte con ellos es la mejor manera de aprender, crecer, compartir e inspirarte. promotec te permite encontrar y asistir a los eventos que sean de tu interés conectando con otras personas que comparten tu pasión.
Promotec fomenta a que descubras diversas empresas en tu cuidad, todas clasificadas bajo diferentes categorías desde eventos de arte y cultura, eventos para niños, charlas y conferencias, conciertos y toda clase de entretenimiento hasta eventos de ayuda social. Mucha¡os de estos eventos pueden transformarte, acompáñanos a crear un mundo donde te animamos a probar cosas nuevas, a salir, a disfrutar de lo que te apasione construyendo comunidades que compartan intereses afines. Promotec utiliza el mundo virtual para conectar personas en el mundo real. ¡Empieza a conectarte!
Empieza a usar promotec y disfruta increíbles eventos y personas.
                </p>
                <a href="#" class="btn btn-dark">Conocenos</a>
            </div>
            <div class="card-body">
                <h4 class="card-title"> Nuestra Mision</h4>
                <p class="card-text">Sabemos que hay todo un mundo por explorar, lleno de eventos por hacer en tu ciudad y lleno de lugares increíbles. Sin embargo la mayoría de personas suelen hacer las mismas cosas, ya que son las únicas que conocen. Nuestra misión es promover la participación de empresas y clientes, a través de nuestra solución online, en una red donde se puedan conectar facilmente.

¡La vida es muy corta para tener fiestas comunes y corrientes¡</p>
                <a href="#" class="btn btn-dark">Saber +</a>
            </div>
            <div class="card-body">
                <h4 class="card-title"> El equipo</h4>
                <p class="card-text">Pensamos en grande, pero nos encantan los detalles. Sino pregúntale a nuestro diseñador! Nuestro equipo es pequeño, pero con mucho talento y ganas de crear un gran impacto. Estamos en constante búsqueda de personas que crean en nuestra misión y tengan tantas ganas como nosotros de lograr algo grande.</p>
                <a href="#" class="btn btn-dark">Conocenos</a>
            </div>

        </div>

    </div>

</body>
</html>

